body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: #fff;
}

nav {
  background: #111;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 15px #0ff;
}

nav a {
  color: #0ff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #f0f;
  text-shadow: 0 0 10px #f0f;
}

.contenido {
  padding: 40px;
  text-align: center;
}

h1 {
  color: #0ff;
  text-shadow: 0 0 15px #0ff;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: #888;
  margin-top: 40px;
}
