.hero {
  background: url("assets/img/gamer-bg.jpg") center/cover no-repeat;
  padding: 80px 20px;
  text-align: center;
  box-shadow: inset 0 0 100px #000;
}

.hero h1 {
  font-size: 40px;
}

.card {
  max-width: 800px;
  margin: 40px auto;
  background: #111;
  border-radius: 15px;
  box-shadow: 0 0 20px #0ff;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card .texto {
  padding: 25px;
}

.card h2 {
  color: #f0f;
  text-shadow: 0 0 10px #f0f;
}
