<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Catálogo Gamer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Catálogo gamer con los mejores juegos del momento">
<meta name="author" content="Ruben">

<link rel="stylesheet" href="styles.css">

<style>
header{
  background:#0f172a;
  color:#38bdf8;
  text-align:center;
  padding:20px;
  border-bottom:2px solid #38bdf8;
}

nav{
  text-align:center;
  padding:10px;
  background:#020617;
}

nav a{
  color:#38bdf8;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}
</style>

</head>

<body>

<header>
  <h1>🎮 Catálogo Gamer</h1>
  <p>Los mejores juegos en un solo lugar</p>
</header>

<nav>
  <a href="index.html">Inicio</a>
  <a href="Ark Evolved.html">Ark</a>
  <a href="space marines.html">Marines</a>
  <a href="7das today.html">7 Days</a>
</nav>
